body{
	display:block;
	margin: auto;
	max-width: 1024px;
	min-width: 420px;
	font-size:12px;
	color: white;
	width: 100%;
	background-color: black;
}

#myCanvas{
	display: inline;
	margin-left: 0px;
	margin: auto;
	width: 60%;
}

#livesCanvas{
	margin-bottom: 20%;
}