body{
	display:block;
	margin: auto;
	max-width: 1024px;
	min-width: 420px;
	font-size:12px;
	color: white;
	width: 100%;
	background-color: black;
	background-image:url('https://notendur.hi.is/~pap5/bomberman/pic/Bomberman%20generation.jpg');
}

200
#myCanvas{
	display: inline;
	margin-left: 0px;
	margin: auto;
	width: 60%;
}

#livesCanvas{
	margin-bottom: 20%;
	background-color: #F08000;
}
canvas{
	float:left ;
	display: block;
	margin: 20px;
	background-color:orange;
	padding: 10px;
	border: solid;
	border-color: grey;

}

#text{
	display: block;
	margin: auto;
	text-align: center;
	border:solid;
	border-color: orange;
	font-size: 1.2em;
	float: left;
	color: white;
	font-family: sans-serif;
	width: 30%;
	background-color: black;
	background-repeat: no-repeat;
}
#moreText, #drop{

	display: block;
	background-color: black;
	border:solid;
	border-color: orange;
	margin: auto;
	padding: 10px;
	font-size: 1.2em;
	float: left;
	color: white;
	font-family: sans-serif;
	width: 30%;
}

a:link{
	color:white;
}

a:visited{
	color: white;
>>>>>>> 5babaf9470881b2203d3d30bfbfd001fb4e2059d
}